<div class="share">
    <img data-src='static/img/content/branch-7.png' class="branch-parallax-left">
    <div class="share__bg m-bg-cont">
        <img data-src='static/img/content/share-bg.jpg'>
    </div>

    <div class="share__ovza">
        <img data-src='static/img/content/share.png'>
    </div>
    <div class="wrapper">
        <div class="share__container">
            <div class="share__title">
                    Поделитесь своим мнением о наших продуктах
            </div>

            <form action="#" class="share__content form">
                <input class="share__field share__field-name" type="text" name="name" placeholder="Ваше имя">
                <input class="share__field" type="text" name="message" placeholder="Ваше сообщение">
                <div class="share__rating">
                    <input class="share__field" type="text" name="nameProd" placeholder="Название продукта (по желанию)">
                    <div class="share__rating-content">

                    </div>
                </div>

                <div class="share__bottom">
                    <div class="share__bottom-left">
                        <label class="m-check">
                            <input type="checkbox" required>
                            <div>
                                
                            </div>
                            <p>
                                    Отправляя эту форму, я даю согласие на обработку своих персональных данных
                            </p>
                        </label>
                        <label class="m-check">
                            <input type="checkbox" required>
                            <div>
                                
                            </div>
                            <p>
                                    Я ознакомлен с <a href="#">политикой конфиденциальности</a>
                            </p>
                        </label>
                    </div>
                    <button class="share__button">
                            Отправить
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>