<div id="top"></div>

<div class="header fs-hdr">
    <div class="wrapper">
        <div class="header__container">
            <a href="#top" class="header__left">
                {{Icon iconName="arrow-top"}}
            </a>

            <div class="header__slider-container">
                <div class="header__features swiper-wrapper">
                    <a href="#" class="swiper-slide">{{Icon iconName="m-header-1"}} <span>    Показать все</span></a>
                    <a href="#" class="swiper-slide">{{Icon iconName="m-header-2"}} <span>Уход за кожей рук</span></a>
                    <a href="#" class="swiper-slide">{{Icon iconName="m-header-3"}} <span>Уборка</span></a>
                    <a href="#" class="swiper-slide">{{Icon iconName="m-header-4"}} <span>Стирка</span></a>
                    <a href="#" class="swiper-slide">{{Icon iconName="m-header-5"}} <span>Мытье посуды</span></a>
                    <a href="#" class="swiper-slide">{{Icon iconName="m-header-6"}} <span>Для детей</span></a>
                </div>
            </div>
            
            <div class="header__right">
                <div class="header__mobile">
                    {{Icon iconName="menu"}}
                </div>
                <div class="header__menu">
                    <div class="header__close">
                        {{Icon iconName="close"}}
                    </div>
                    <a href="catalog.html">Каталог</a>
                    <a href="deti-1.html">Все продукты</a>
                    <a href="#map">Где купить</a>
                    <a href="#">О бренде</a>
                </div>
                <div class="header__phone">
                    {{Icon iconName="header-phone"}}
                    495 725-66-38
                </div>
            </div>
        </div>
    </div>
</div>

{{> pageNav/pageNav}}